# Observations and Insights

<hr>

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# CalFresh data file path (DeJuan)
calfresh_data_path = "Resources/CalFresh Data 19 - Current.csv"
# Census data file path (Jackson)
census_data_path = "Resources/co-est2019-alldata.csv"
# us-counties data file path (Siddharth)
counties_data_path = "Resources/us-counties.csv"

In [2]:
# Read the all three datasets (D,J,S)
# Lots of problems reading the file. After awhile, figured out 
# it was encoded ANSI and not utf-8. After re-coding, using notepad. it worked. lost 30 min.
calfresh_data = pd.read_csv(calfresh_data_path)

# rename columns.
calfresh_data.rename(columns = {'Calendar Year' : 'Year', 'Unemployment Monthly	' : 'Unemployment', 
                                'CalFresh Households' : 'Households', 'CalFresh Persons' : 'Persons', 
                                'EBT_FSP_dollars' : 'EBT Cash'}, inplace = True)

calfresh_data.head()

,County,Month,Date,Year,Unemployment Monthly,Households,Persons,Applications Recevied,Online Applications Received,EBT Cash
0,Statewide,January,Jan-19,2019,4.8%,"1,906,041","3,764,747","165,779","72,917","936,417,639"
1,Alameda,January,Jan-19,2019,0.3%,"53,529","93,512","5,515","2,428","24,484,650"
2,Alpine,January,Jan-19,2019,4.7%,70,114,4,1,"27,662"
3,Amador,January,Jan-19,2019,4.9%,"1,462","2,573",154,40,"607,423"
4,Butte,January,Jan-19,2019,6.6%,"16,535","29,634","2,043","1,085","7,170,854"

In [3]:
counties_data = pd.read_csv(counties_data_path)

# rename columns to use initial Caps.
counties_data.rename(columns = {'date' : 'Date', 'county' : 'County', 'state' : 'State', 'cases' : 'Cases', 'deaths' : 'Deaths'}, inplace = True)
counties_data.head()

         Date     County       State     fips  Cases  Deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [4]:
#### Had initial problems. Discovered that all US .gov docs are encoded ANSI, 
# or have fixed length columns. You must open in note pad and save as utf-8.
census_data = pd.read_csv(census_data_path)

# rename columns to use initial Caps.
census_data.rename(columns = {'STNAME' : 'State', 'CTYNAME' : 'County', 
                              'POPESTIMATE2019' : 'Population'}, inplace = True)
census_df = pd.DataFrame(census_data)
census_df.drop(census_df.columns[[0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 
                                  22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 
                                  39, 40, 41, 42, 43, 44, 45, 46, 47]], axis = 1, inplace = True)

# filter rows in state that equal California
census_ca = census_df.loc[census_df['State'] == 'California']

census_ca.head()
#print('\nResult census_ca :\n'', 

# Create new pd.DataFrame using only State, County, 

# Checking if update works.

,State,County,Population,DEATHS2019,NATURALINC2010,NATURALINC2011,NATURALINC2012,NATURALINC2013,NATURALINC2014,NATURALINC2015,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
190,California,California,39512223,282520,66008,271383,257916,251925,254859,246582,...,-5.151429,1.276797,1.495016,1.649031,2.203551,1.984957,0.500044,-0.629909,-2.130954,-3.276681
191,California,Alameda County,1671329,10944,2726,10144,9772,9849,10248,9887,...,-6.965670,5.134201,8.497481,10.150136,11.190365,10.411032,3.989666,-0.196911,-0.945009,-1.848964
192,California,Alpine County,1129,5,-2,-3,-1,-1,-3,-7,...,31.559964,-57.675244,15.433500,16.085791,-41.666667,2.781641,-22.598870,62.094532,-20.000000,32.461677
193,California,Amador County,39752,427,-5,-177,-147,-167,-138,-132,...,11.395076,-4.401490,-7.930660,-8.843796,6.680664,11.822607,14.531292,32.491640,24.867195,11.824602
194,California,Butte County,219186,2527,106,264,156,17,333,145,...,-50.048384,-1.050181,3.461542,3.493706,6.968328,4.413730,6.840230,11.052323,7.768471,-49.590123

In [5]:
# Filter to show necessary columns
census_filtered = census_ca[['State', 'County', 'Population', 'DEATHS2019']]
census_filtered.head()

          State          County  Population  DEATHS2019
190  California      California    39512223      282520
191  California  Alameda County     1671329       10944
192  California   Alpine County        1129           5
193  California   Amador County       39752         427
194  California    Butte County      219186        2527

In [6]:


# Combine CalFresh, census and counties data into a single dataset (JC)


# Create pd.DataFrame for population density by county. Timeframe 1-2020 to 3-2021

# Create pd.DataFrame for CalFresh recipients by county. Timeframe 1-2020 to 3-2021

# Create pd.DataFrame for total Covid cases by county. Timeframe 1-2020 to 3-2021
# Display the data table for preview

# Summary Statistics

## Line Chart

In [7]:
# Show CA state covid cases over months using line plot. Years on x-axis and population on y-axis
# Timeframe: Jan 2020 to March 2021

In [8]:
# Graph trends amoungst various counties on a single plot. Pick 5, at least one urban area
# Timeframe: Jan 2020 to March 2021

In [9]:
# Correlation Rise of Covid and CalFresh (maybe unemployment) vs number of people receiving CalFresh aid.

### Bar Chart

In [10]:
# Number of Covid cases in all counties. Sort decending

In [11]:
# Number of Covid cases in top 10 counties. Sort decending