# Observations and Insights

<hr>

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# CalFresh data file path (DeJuan)
calfresh_data_path = "Resources/CalFresh Data 19 - Current.csv"
# Census data file path (Jackson)
census_data_path = "Resources/co-est2019-alldata.csv"
# us-counties data file path (Siddharth)
counties_data_path = "Resources/us-counties.csv"

In [2]:
# Read the all three datasets (D,J,S)
# Lots of problems reading the file. After awhile, figured out 
# it was encoded ANSI and not utf-8. After re-coding, using notepad. it worked. lost 30 min.
calfresh_data = pd.read_csv(calfresh_data_path)

# rename columns.
calfresh_data.rename(columns = {'Calendar Year' : 'Year', 'Unemployment Monthly	' : 'Unemployment', 
                                'CalFresh Households' : 'Households', 'CalFresh Persons' : 'Persons', 
                                'EBT_FSP_dollars' : 'EBT Cash'}, inplace = True)

calfresh_data.head()

,County,Month,Date,Year,Unemployment Monthly,Households,Persons,Applications Recevied,Online Applications Received,EBT Cash
0,Statewide,January,Jan-19,2019,4.8%,"1,906,041","3,764,747","165,779","72,917","936,417,639"
1,Alameda,January,Jan-19,2019,0.3%,"53,529","93,512","5,515","2,428","24,484,650"
2,Alpine,January,Jan-19,2019,4.7%,70,114,4,1,"27,662"
3,Amador,January,Jan-19,2019,4.9%,"1,462","2,573",154,40,"607,423"
4,Butte,January,Jan-19,2019,6.6%,"16,535","29,634","2,043","1,085","7,170,854"

In [3]:
#CA County Data
#Data cleanup: Separate date into 3 columns, MONTH, DATE, YEAR. Isolate counties to CA. Drop FIPS column. 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 

all_counties_path = "Resources/us-counties.csv"

all_counties = pd.read_csv(all_counties_path,index_col=0, parse_dates=True)
all_counties.head()

               county       state     fips  cases  deaths
date
2020-01-21  Snohomish  Washington  53061.0      1     0.0
2020-01-22  Snohomish  Washington  53061.0      1     0.0
2020-01-23  Snohomish  Washington  53061.0      1     0.0
2020-01-24       Cook    Illinois  17031.0      1     0.0
2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [4]:
#Drop FIPS column
all_counties_df = pd.DataFrame(all_counties)

all_counties_df = all_counties_df.drop(["fips"], axis=1)
all_counties_df

                county       state  cases  deaths
date
2020-01-21   Snohomish  Washington      1     0.0
2020-01-22   Snohomish  Washington      1     0.0
2020-01-23   Snohomish  Washington      1     0.0
2020-01-24        Cook    Illinois      1     0.0
2020-01-24   Snohomish  Washington      1     0.0
...                ...         ...    ...     ...
2021-04-22  Sweetwater     Wyoming   4151    37.0
2021-04-22       Teton     Wyoming   3715     9.0
2021-04-22       Uinta     Wyoming   2157    12.0
2021-04-22    Washakie     Wyoming    897    26.0
2021-04-22      Weston     Wyoming    647     5.0

[1248308 rows x 4 columns]

In [5]:
#Isolate counties to CA 

CA_counties_df = all_counties_df[all_counties_df["state"] == "California"]
CA_counties_df

                 county       state  cases  deaths
date
2020-01-25       Orange  California      1     0.0
2020-01-26  Los Angeles  California      1     0.0
2020-01-26       Orange  California      1     0.0
2020-01-27  Los Angeles  California      1     0.0
2020-01-27       Orange  California      1     0.0
...                 ...         ...    ...     ...
2021-04-22       Tulare  California  49469   831.0
2021-04-22     Tuolumne  California   4091    64.0
2021-04-22      Ventura  California  80398  1002.0
2021-04-22         Yolo  California  13606   200.0
2021-04-22         Yuba  California   6138    44.0

[23297 rows x 4 columns]

In [6]:
#Separate date into three columns 
CA_counties_df.reset_index(inplace=True)

CA_counties_df["Day"] = CA_counties_df["date"].dt.day
CA_counties_df["Month"] = CA_counties_df["date"].dt.month
CA_counties_df["Year"] = CA_counties_df["date"].dt.year
CA_counties_df

<ipython-input-6-e3f30398d33d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CA_counties_df["Day"] = CA_counties_df["date"].dt.day
<ipython-input-6-e3f30398d33d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CA_counties_df["Month"] = CA_counties_df["date"].dt.month
<ipython-input-6-e3f30398d33d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CA_counties_df["Year"] = CA_counties_df["date"].dt.year

            date       county       state  cases  deaths  Day  Month  Year
0     2020-01-25       Orange  California      1     0.0   25      1  2020
1     2020-01-26  Los Angeles  California      1     0.0   26      1  2020
2     2020-01-26       Orange  California      1     0.0   26      1  2020
3     2020-01-27  Los Angeles  California      1     0.0   27      1  2020
4     2020-01-27       Orange  California      1     0.0   27      1  2020
...          ...          ...         ...    ...     ...  ...    ...   ...
23292 2021-04-22       Tulare  California  49469   831.0   22      4  2021
23293 2021-04-22     Tuolumne  California   4091    64.0   22      4  2021
23294 2021-04-22      Ventura  California  80398  1002.0   22      4  2021
23295 2021-04-22         Yolo  California  13606   200.0   22      4  2021
23296 2021-04-22         Yuba  California   6138    44.0   22      4  2021

[23297 rows x 8 columns]

In [7]:
CA_counties_df.rename(columns = {"date":"Date",
                                "county":"County",
                                "state":"State",
                                "cases":"Cases",
                                "deaths":"Deaths"}, inplace=True)
CA_counties_df

C:\Users\jfreese\Anaconda3\AnacondaNEW\envs\PythonData\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

            Date       County       State  Cases  Deaths  Day  Month  Year
0     2020-01-25       Orange  California      1     0.0   25      1  2020
1     2020-01-26  Los Angeles  California      1     0.0   26      1  2020
2     2020-01-26       Orange  California      1     0.0   26      1  2020
3     2020-01-27  Los Angeles  California      1     0.0   27      1  2020
4     2020-01-27       Orange  California      1     0.0   27      1  2020
...          ...          ...         ...    ...     ...  ...    ...   ...
23292 2021-04-22       Tulare  California  49469   831.0   22      4  2021
23293 2021-04-22     Tuolumne  California   4091    64.0   22      4  2021
23294 2021-04-22      Ventura  California  80398  1002.0   22      4  2021
23295 2021-04-22         Yolo  California  13606   200.0   22      4  2021
23296 2021-04-22         Yuba  California   6138    44.0   22      4  2021

[23297 rows x 8 columns]

In [8]:
CA_counties_df.to_csv("Resources/CA_County_Data.csv")

In [9]:
#### Had initial problems. Discovered that all US .gov docs are encoded ANSI, 
# or have fixed length columns. You must open in note pad and save as utf-8.
census_data = pd.read_csv(census_data_path)

# rename columns to use initial Caps.
census_data.rename(columns = {'STNAME' : 'State', 'CTYNAME' : 'County', 
                              'POPESTIMATE2019' : 'Population'}, inplace = True)
census_df = pd.DataFrame(census_data)
census_df.drop(census_df.columns[[0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 
                                  22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 
                                  39, 40, 41, 42, 43, 44, 45, 46, 47]], axis = 1, inplace = True)
# filter rows in state that equal California
census_ca = census_df.loc[census_df['State'] != 'California']

census_ca.head()
#print('\nResult census_ca :\n'', 

# Create new pd.DataFrame using only State, County,

,State,County,Population,DEATHS2019,NATURALINC2010,NATURALINC2011,NATURALINC2012,NATURALINC2013,NATURALINC2014,NATURALINC2015,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,Alabama,Alabama,4903185,53879,3151,10857,10701,7078,9191,7771,...,1.917501,0.578434,1.186314,1.522549,0.563489,0.626357,0.745172,1.090366,1.773786,2.483744
1,Alabama,Autauga County,55869,541,-7,124,55,-11,67,67,...,4.847310,6.018182,-6.226119,-3.902226,1.970443,-1.712875,4.777171,0.849656,0.540916,4.560062
2,Alabama,Baldwin County,223234,2326,-17,360,208,260,225,159,...,24.017829,16.641870,17.488579,22.751474,20.184334,17.725964,21.279291,22.398256,24.727215,24.380567
3,Alabama,Barbour County,24686,312,-60,8,14,-13,-44,-61,...,-5.690302,0.292676,-6.897817,-8.132185,-5.140431,-15.724575,-18.238016,-24.998528,-8.754922,-5.165664
4,Alabama,Bibb County,22394,252,12,-12,10,-17,6,-14,...,1.385134,-4.998356,-3.787545,-5.797999,1.331144,1.329817,-0.708717,-3.234669,-6.857092,1.831952

In [10]:


# Combine CalFresh, census and counties data into a single dataset (JC)


# Create pd.DataFrame for population density by county. Timeframe 1-2020 to 3-2021

# Create pd.DataFrame for CalFresh recipients by county. Timeframe 1-2020 to 3-2021

# Create pd.DataFrame for total Covid cases by county. Timeframe 1-2020 to 3-2021
# Display the data table for preview

# Summary Statistics

## Line Chart

In [11]:
# Show CA state covid cases over months using line plot. Years on x-axis and population on y-axis
# Timeframe: Jan 2020 to March 2021

In [12]:
# Graph trends amoungst various counties on a single plot. Pick 5, at least one urban area
# Timeframe: Jan 2020 to March 2021

In [13]:
# Correlation Rise of Covid and CalFresh (maybe unemployment) vs number of people receiving CalFresh aid.

### Bar Chart

In [14]:
# Number of Covid cases in all counties. Sort decending

In [15]:
# Number of Covid cases in top 10 counties. Sort decending