# Observations and Insights

<hr>

In [7]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# CalFresh data file path (DeJuan)
calfresh_data_path = "Resources/"
# Census data file path (Jackson)

# us-counties data file path (Siddharth)

# Read the all three datasets (D,J,S)



# Combine CalFresh, census and counties data into a single dataset (JC)


# Create pd.DataFrame for population density by county. Timeframe 1-2020 to 3-2021

# Create pd.DataFrame for CalFresh recipients by county. Timeframe 1-2020 to 3-2021

# Create pd.DataFrame for total Covid cases by county. Timeframe 1-2020 to 3-2021
# Display the data table for preview

               date      county       state     fips  cases  deaths
0        2020-01-21   Snohomish  Washington  53061.0      1     0.0
1        2020-01-22   Snohomish  Washington  53061.0      1     0.0
2        2020-01-23   Snohomish  Washington  53061.0      1     0.0
3        2020-01-24        Cook    Illinois  17031.0      1     0.0
4        2020-01-24   Snohomish  Washington  53061.0      1     0.0
...             ...         ...         ...      ...    ...     ...
1248303  2021-04-22  Sweetwater     Wyoming  56037.0   4151    37.0
1248304  2021-04-22       Teton     Wyoming  56039.0   3715     9.0
1248305  2021-04-22       Uinta     Wyoming  56041.0   2157    12.0
1248306  2021-04-22    Washakie     Wyoming  56043.0    897    26.0
1248307  2021-04-22      Weston     Wyoming  56045.0    647     5.0

[1248308 rows x 6 columns]

# Summary Statistics

## Line Chart

In [2]:
# Show CA state covid cases over months using line plot. Years on x-axis and population on y-axis
# Timeframe: Jan 2020 to March 2021

In [3]:
# Graph trends amoungst various counties on a single plot. Pick 5, at least one urban area
# Timeframe: Jan 2020 to March 2021

In [4]:
# Correlation Rise of Covid and CalFresh (maybe unemployment) vs number of people receiving CalFresh aid.

### Bar Chart

In [5]:
# Number of Covid cases in all counties. Sort decending

In [6]:
# Number of Covid cases in top 10 counties. Sort decending