# Observations and Insights

<hr>

In [1]:
# Dependencies and Setup (John)
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# CalFresh data file path (DeJuan)
calfresh_data_path = "Resources/CalFresh Data 19 - Current.csv"
# Census data file path (Jackson)
census_data_path = "Resources/co-est2019-alldata.csv"
# us-counties data file path (Siddharth)
all_counties_path = "Resources/us-counties.csv"

In [2]:
# Read the all three datasets (John)
calfresh_data = pd.read_csv(calfresh_data_path)

# rename columns.
calfresh_data.rename(columns = {'Calendar Year' : 'Year', 'Unemployment Monthly	' : 'Unemployment', 
                                'CalFresh Households' : 'Households', 'CalFresh Persons' : 'Persons', 
                                'EBT_FSP_dollars' : 'EBT Cash'}, inplace = True)

# Remove 'Date' Column from CSV, not usable for analysis. Is not an actual date, is only the Month and year joined. (DHall)
del calfresh_data['Date']

calfresh_data.head()

,County,Month,Year,Unemployment Monthly,Households,Persons,Applications Recevied,Online Applications Received,EBT Cash
0,Statewide,January,2019,4.8%,"1,906,041","3,764,747","165,779","72,917","936,417,639"
1,Alameda,January,2019,0.3%,"53,529","93,512","5,515","2,428","24,484,650"
2,Alpine,January,2019,4.7%,70,114,4,1,"27,662"
3,Amador,January,2019,4.9%,"1,462","2,573",154,40,"607,423"
4,Butte,January,2019,6.6%,"16,535","29,634","2,043","1,085","7,170,854"

In [3]:
#CA County Data (Jackson)
#Data cleanup: Separate date into 3 columns, MONTH, DATE, YEAR. Isolate counties to CA. Drop FIPS column. 
all_counties = pd.read_csv(all_counties_path,index_col=0, parse_dates=True)

#Drop FIPS column
all_counties_df = pd.DataFrame(all_counties).drop(["fips"], axis=1)

#Isolate counties to CA 
CA_counties_df = all_counties_df[all_counties_df["state"] == "California"]
CA_counties_df.head()

                 county       state  cases  deaths
date
2020-01-25       Orange  California      1     0.0
2020-01-26  Los Angeles  California      1     0.0
2020-01-26       Orange  California      1     0.0
2020-01-27  Los Angeles  California      1     0.0
2020-01-27       Orange  California      1     0.0

In [4]:
#Separate date into three columns and rename (Jackson)
CA_counties_df.reset_index(inplace=True)

CA_counties_df["Day"] = CA_counties_df["date"].dt.day
CA_counties_df["Month"] = CA_counties_df["date"].dt.month
CA_counties_df["Year"] = CA_counties_df["date"].dt.year

CA_counties_df.rename(columns = {"date":"Date",
                                "county":"County",
                                "state":"State",
                                "cases":"Cases",
                                "deaths":"Deaths"}, inplace=True)
CA_counties_df

C:\Users\jchan\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\jchan\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\jchan\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\jchan\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

            Date       County       State  Cases  Deaths  Day  Month  Year
0     2020-01-25       Orange  California      1     0.0   25      1  2020
1     2020-01-26  Los Angeles  California      1     0.0   26      1  2020
2     2020-01-26       Orange  California      1     0.0   26      1  2020
3     2020-01-27  Los Angeles  California      1     0.0   27      1  2020
4     2020-01-27       Orange  California      1     0.0   27      1  2020
...          ...          ...         ...    ...     ...  ...    ...   ...
23292 2021-04-22       Tulare  California  49469   831.0   22      4  2021
23293 2021-04-22     Tuolumne  California   4091    64.0   22      4  2021
23294 2021-04-22      Ventura  California  80398  1002.0   22      4  2021
23295 2021-04-22         Yolo  California  13606   200.0   22      4  2021
23296 2021-04-22         Yuba  California   6138    44.0   22      4  2021

[23297 rows x 8 columns]

In [5]:
CA_counties_df.to_csv("Resources/CA_County_Data.csv")

In [6]:
# Filter to show necessary columns adn rename columns to use initial Caps.
census_data = pd.read_csv(census_data_path)
census_data.rename(columns = {'STNAME' : 'State', 'CTYNAME' : 'County', 
                              'POPESTIMATE2019' : 'Population'}, inplace = True)
census_df = pd.DataFrame(census_data)
census_df.drop(census_df.columns[[0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 
                                  22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 
                                  39, 40, 41, 42, 43, 44, 45, 46, 47]], axis = 1, inplace = True)

# filter rows in state that equal California and required columns (Siddharth)
census_ca = census_df.loc[census_df['State'] == 'California']
census_filtered = census_ca[['State', 'County', 'Population', 'DEATHS2019']]
census_filtered.head()

          State          County  Population  DEATHS2019
190  California      California    39512223      282520
191  California  Alameda County     1671329       10944
192  California   Alpine County        1129           5
193  California   Amador County       39752         427
194  California    Butte County      219186        2527

In [7]:
#Filter calfreash data by 2020 and 2021 (DHall)
calfresh_data20_21 = calfresh_data[calfresh_data['Year']!=2019]

calfresh_data20_21

,County,Month,Year,Unemployment Monthly,Households,Persons,Applications Recevied,Online Applications Received,EBT Cash
708,Statewide,January,2020,4.3%,"2,176,109","4,075,962","187,228","86,463","500,169,011"
709,Alameda,January,2020,3.1%,"65,302","112,881","6,341","2,939","13,678,807"
710,Alpine,January,2020,4.6%,77,126,7,0,"14,377"
711,Amador,January,2020,4.7%,"1,496","2,588",171,41,"305,508"
712,Butte,January,2020,5.6%,"17,028","28,648","1,901","1,014","3,503,997"
...,...,...,...,...,...,...,...,...,...
1529,Tulare,February,2021,11.4%,"45,068","101,481",NaN,NaN,"17,778,143"
1530,Tuolumne,February,2021,8.7%,"3,170","4,907",238,127,"786,603"
1531,Ventura,February,2021,6.8%,"36,565","67,207","2,499","1,720","11,082,712"
1532,Yolo,February,2021,6.8%,0,0,"1,108",877,"3,572,432"
1533,Yuba,February,2021,9.9%,"6,734","13,338",266,207,"2,243,153"

In [8]:
#Export Updated CSV to Resource Folder (DHall)
calfresh_data20_21.to_csv('Resources/calfresh_data20_21.csv')

In [9]:

# Combine CalFresh, census and counties data into a single dataset (JC)


# Create pd.DataFrame for population density by county. Timeframe 1-2020 to 3-2021

# Create pd.DataFrame for CalFresh recipients by county. Timeframe 1-2020 to 3-2021

# Create pd.DataFrame for total Covid cases by county. Timeframe 1-2020 to 3-2021
# Display the data table for preview

# Summary Statistics

## Line Chart

In [10]:
# Show CA state covid cases over months using line plot. Years on x-axis and population on y-axis
# Timeframe: Jan 2020 to March 2021

In [11]:
# Graph trends amoungst various counties on a single plot. Pick 5, at least one urban area
# Timeframe: Jan 2020 to March 2021

In [12]:
# Correlation Rise of Covid and CalFresh (maybe unemployment) vs number of people receiving CalFresh aid.

### Bar Chart

In [13]:
# Number of Covid cases in all counties. Sort decending

In [14]:
# Number of Covid cases in top 10 counties. Sort decending